<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./log" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
<!--            <Pattern>-->
<!--                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable-->
<!--            </Pattern>-->
            <pattern>%black(%d{ISO8601}) [%blue(%t)] %highlight(%-5level) %yellow(%C{0}:%L) - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <file>${LOGS}/spring-boot-logger.log</file>-->
        <file>log.txt</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>-->
            <pattern>%d{dd/MM/yyyy HH:mm:ss} [%thread] %-5level %C{0}:%L - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGS}/%d{yyyy, aux}/%d{MM, aux}/logFile.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <!--<maxHistory>30</maxHistory>-->
            <totalSizeCap>2KB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="ua.lviv.nabat250" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

</configuration>
